@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Mochiy+Pop+P+One&family=Space+Mono:wght@700&display=swap');
* {
  	font-family: 'Audiowide','Mochiy Pop P One', monospace;
    font-weight: 700;
  	font-size: {{fontSize}}px;
    color: {{fontColor}};
  
    overflow: hidden;
  	letter-spacing: 0.18rem;
}
body {
  margin: 1rem;
  background-color: {{backgroundColor}};
}
.event-container {
    display: flex;
  	height: 100vh;
    justify-content: left;
 	width: 100%;

}
.textBox {
  position: absolute;
  background: none;

}